body {
  min-height: 100vh;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 800px) {
    padding: 4rem;
  }
  @media (max-width: 1200px) {
    padding: 6rem;
  }
  @media (max-width: 1600px) {
    padding: 7rem;
  }
}

main {
  display: flex;
  justify-content: space-between;
  @media (max-width: 550px) {
    margin-bottom: 1rem;
  }
}

.weather-details {
  margin-bottom: 3rem;
  display: flex;
  &__data {
    font-size: 3rem;
    font-weight: 800;
    color:#fffb00;
  }
  &__label {
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    font-weight: 800;
    @media (max-width: 750px) {
      font-size: 1.4rem;
    }
  }
  &__icon {
    width: 3rem;
    margin-right: 1rem;
  }
}

.change-forecast {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  @media (max-width: 550px) {
    justify-content: center;
  }
}

.daily-btn,
.hourly-btn {
  margin-right: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.forecast-selected {
  border: 3px solid #f5f5f5;
  border-radius: 5px;
}

.change-hours {
  display: none;
  margin-left: 1rem;
  width: 9rem;
  justify-content: space-between;
  align-items: center;
  &__left,
  &__right {
    width: 1.3rem;
    cursor: pointer;
  }
}

.dot {
  position: relative;
  top: -1px;
  height: 7px;
  width: 7px;
  background-color: transparent;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
}

.dot-selected {
  background-color: #f5f5f5;
}

.forecast-daily-container,
.forecast-hourly-container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  }
}

.forecast-hourly-outer-container {
  display: none;
}

.weather-info {
  max-width: 55%;
  &__icon {
    width: 10rem;
  }
  &__description {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    color:#fffb00;
  }
  &__city {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
  }
  &__date {
    font-size: 1.8rem;
    font-weight: 800;
  }
  &__time {
    font-size: 2rem;
    font-weight: 800;
  }
  &__temperature {
    margin-bottom: 0.2rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 800;
    color:#fffb00;
  }
  &__units-f,
  &__units-c {
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    @media (max-width: 750px) {
      font-size: 1.4rem;
    }
  }
  &__units-c {
    display: none;
  }
  &__change-location {
    margin-top: 2rem;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    &-icon {
      width: 5px;
      margin-right: 3px;
    }
  }
}

.forecast-hourly {
  width: 8.5rem;
  height: 16.3rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 330px) {
    width: 100%;
  }
  @media (max-width: 350px) {
    width: 85%;
  }
  @media (max-width: 400px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 65%;
  }
  @media (max-width: 550px) {
    flex-direction: row;
    width: 60%;
    height: 40px;
    &:not(:nth-child(8n)) {
      margin-bottom: 1rem;
    }
  }
  &__icon {
    margin-top: 2rem;
    width: 3rem;
    @media (max-width: 550px) {
      margin-top: 1rem;
    }
  }
  &__temperature {
    &-high {
      margin-top: 2rem;
      margin-bottom: 1.2rem;
      font-size: 3rem;
      font-weight: 700;
      color:#fffb00;
    }
    @media (max-width: 550px) {
      margin-right: 4rem;
      width: 55px;
    }
  }
  &__day {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color:rgb(250, 18, 37);
    @media (max-width: 550px) {
      margin-right: auto;
    }
  }
 
}
#current-hour-plus-9,
#current-hour-plus-10,
#current-hour-plus-11,
#current-hour-plus-12,
#current-hour-plus-13,
#current-hour-plus-14,
#current-hour-plus-15,
#current-hour-plus-16,
#current-hour-plus-17,
#current-hour-plus-18,
#current-hour-plus-19,
#current-hour-plus-20,
#current-hour-plus-21,
#current-hour-plus-22,
#current-hour-plus-23,
#current-hour-plus-24 {
  display: none;
}

.forecast-daily {
  @media (max-width: 330px) {
    width: 100%;
  }
  @media (max-width: 350px) {
    width: 85%;
  }
  @media (max-width: 400px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 65%;
  }
  @media (max-width: 550px) {
    display: flex;
    width: 60%;
    height: 40px;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &__icon {
    margin-top: 2rem;
    width: 3rem;
    @media (max-width: 550px) {
      margin-top: 1rem;
    }
  }
  &__temperature {
    &-high {
      margin-bottom: 0.4rem;
      font-size: 3rem;
      font-weight: 700;
      color:#fffb00;
    }
    &-low {
      font-size: 1.2rem;
      font-weight: 300;
      color:#fffb00;
    }
    @media (max-width: 550px) {
      margin-right: 4rem;
      width: 55px;
    }
  }
  &__day {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color:rgb(250, 18, 37);
    @media (max-width: 550px) {
      margin-right: auto;
    }
  }
}